@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 24 97% 20%;
    --card: 0 0% 100%;
    --card-foreground: 24 97% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 24 97% 20%;
    --primary: 24 95% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 24 93% 48%;
    --secondary-foreground: 0 0% 100%;
    --muted: 27 100% 97%;
    --muted-foreground: 24 92% 34%;
    --accent: 24 96% 62%;
    --accent-foreground: 0 0% 100%;
    --border: 27 96% 92%;
    --input: 27 96% 92%;
    --ring: 24 95% 53%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html {
    scroll-behavior: smooth;
  }
}

.text-balance {
  text-wrap: balance;
}